dill
decorator
argcomplete
argh
fabric
gevent
lazy
paramiko
pychef
pytest
pyrabbit
pyrax
python-cinderclient
python-keystoneclient
python-neutronclient
python-novaclient
python-swiftclient
pyyaml
redis
requests
setuptools
tmuxp
