[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=$endpoint
strategy=keystone

[user]
username=$admin_user
password=$admin_password
tenant_name=$admin_tenant

[images]
endpoint_name=glance
region=RegionOne
primary_image=$primary_image_id
image_status_interval=15
snapshot_timeout=600
test_image_name=/home/jenkins/cafe/cirros-0.3.1-x86_64-disk.img

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova

[flavors]
primary_flavor=2
secondary_flavor=3
resize_enabled=True

[servers]
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=public
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
expected_networks={'$network_name': {'v4': True, 'v6': False}}
