###############################################################################
############################# EXAMPLE secret.yaml #############################
###############################################################################
rackspace:
  user: YOUR_USERNAME
  api_key: YOUR_API_KEY
  auth_url: https://identity.api.rackspacecloud.com/v2.0/
  region: DFW
  plugin: rackspace

# Default password for the cluster nodes
default_pass: DEFAULT_PASSWORD

# If you use cloudfiles, store credentials here
cloudfiles:
  user: YOUR_USER
  password: YOUR_PASSWORD

# If you use razor to provision servers, add its API endpoint to support clean up
razor:
  url: RAZOR_IP

# If you wish to point your chef at a different chef server put the path here
chef:
  knife: /path/to/knife.rb
